/* hide horizontal scroll bars */
body {
    overflow-x: hidden;
}

/* center text on an image */
.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* title font size */
.title {
    font-size: 110px;
}

/* reverse colour effect */
.reverse-colour{
    color: white;
    mix-blend-mode:difference;
}

/* remove padding */
.no-padding{
    padding: 0;
}

/* make font white */
.white{
    color: white;
}

/* center text */
.centered{
    text-align: center;
}

/* underline text */
.underlined{
    text-decoration: underline;
}

/* position cards */
.card-left{
    margin-left: 10px;
}
.card-right{
    margin-right: 10px;
}

/* margin */
.margin-left{
    margin-left: 10px;
}

/* make elements grow on hover */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.075); 
}

/* split */
.z50{
    z-index: 500;
    position: relative;
}

.left{
    background-color: blue;
    max-width: 50%;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.right{
    background-color: red;
    max-width: 50%;
    position: relative;
    left: 50%;
    right: 50%;
}

.albumcover{
    max-width:50%; 
    margin:auto;
}

.albumtitle{
    text-align: center;
    color: black;
}

.albumdesc{
    text-align: center;
    color: black;
}

.albumtrack{
    background-color: red;
    border-color: black;
}

.icon{
    float: right;
    margin-left: 5px;
}

.artist{
    color: rgba(0, 0, 0, 0.500);
}

.left0{
    height: 90px;
}

.left1{
    width: 100%;
}