/* hide horizontal scroll bars */
body {
    overflow-x: hidden;
}

/* center text on an image */
.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* title font size */
.title {
    font-size: 110px;
}

/* reverse colour effect */
.reverse-colour{
    color: white;
    mix-blend-mode:difference;
}

/* remove padding */
.no-padding{
    padding: 0;
}

/* make font white */
.white{
    color: white;
}

/* center text */
.centered{
    text-align: center;
}

/* underline text */
.underlined{
    text-decoration: underline;
}

/* position cards */
.card-left{
    margin-left: 10px;
}
.card-right{
    margin-right: 10px;
}

/* margin */
.margin-left{
    margin-left: 10px;
}

/* make elements grow on hover */
.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.075); 
}

/* split */
.left{
    background-color: blue;
}

.right{
    background-color: red;
}

.recordcover{
    max-width:50%; 
    margin:20px; 
}