.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.title {
    font-size: 110px;
}

.reverse-colour{
    color: white;
    mix-blend-mode:difference;
}
