/* center text on an image */
.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* title font size */
.title {
    font-size: 110px;
}

/* reverse colour effect */
.reverse-colour{
    color: white;
    mix-blend-mode:difference;
}

/* remove padding */
.no-padding{
    padding: 0;
}

/* make font white */
.white{
    color: white;
}

/* align navbar elements to the right */
.nav-right{
    float:right;
}

/* center text */
.centered{
    text-align: center;
}

/* style h2 */
.underlined{
    text-decoration: underline;
}